{% extends 'base.html' %}
{% load i18n static %}
{% block head %}

<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
<link href="{% static 'css/creative.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase"><strong>{% trans 'Welcome to Py-Challenge' %}</strong></h1>
                <hr>
            </div>
            <div class="col-lg-4 mx-auto">
                <p class="text-faded mb-5">{% trans 'Just another Django site' %}</p>
            </div>
        </div>
    </div>
</header>
{% endblock %}

